<ion-header [translucent]="true">
  <ion-toolbar>
    <ion-title>
      Categoria Producto
    </ion-title>
  </ion-toolbar>
</ion-header>

<ion-content [fullscreen]="true">
  <ion-header collapse="condense">
    <ion-toolbar>
      <ion-title size="large">Categoria Producto</ion-title>
    </ion-toolbar>
  </ion-header>

<ion-item>
  <ion-input type="text" placeholder="Ingrese el Nombre " [(ngModel)]="nombre"></ion-input>
  <ion-button (click)="addCategoriaProducto">Agregar Categoria</ion-button>
</ion-item>
<br>
<ion-list>
  <ion-item *ngFor="let item of listaCategoriaProducto">
    <b>Nombre</b>:{{item.nombre}}
  </ion-item>
</ion-list>


</ion-content>