<ion-header [translucent]="true">
  <ion-toolbar>
    <ion-title>
      <ion-icon name="storefront-outline"></ion-icon> Proveedores
    </ion-title>
  </ion-toolbar>
</ion-header>

<ion-content [fullscreen]="true">
  <ion-header collapse="condense">
    <ion-toolbar>
      <ion-title size="large">Categoria Producto</ion-title>
    </ion-toolbar>
  </ion-header>

  <ion-item>
    <ion-input id="nombreProveedor" type="text" placeholder="Ingrese el Nombre del proveedor"
      [(ngModel)]="nombreProveedor"></ion-input>
    <ion-button id="addProveedor" (click)="addProveedor()"><ion-icon name="add-outline"></ion-icon> Agregar Proveedor</ion-button>
  </ion-item>
  <br>

  <ion-card>
    <ion-card-header>
      <ion-card-title>Lista de Proveedores</ion-card-title>

    </ion-card-header>
    <ion-card-content>
      <ion-list>
        <ion-item *ngFor="let item of listaProveedor">
          <ion-label>ID: {{item.id}} | {{item.nombreProveedor}} </ion-label>
          <ion-button id="getById" (click)="GetByIdProveedor(item.id)" color="secondary"><ion-icon name="eye-outline"></ion-icon></ion-button>
          <ion-button id="deleteItem" (click)="DeleteProveedor(item.id)" color="danger"><ion-icon name="trash-outline"></ion-icon></ion-button>
        </ion-item>
      </ion-list>
    </ion-card-content>
  </ion-card>

</ion-content>